{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-4">Bienvenido, {{ user.username }}</h2>

      <p>Esta es tu página de inicio. Desde aquí puedes acceder a las diferentes funcionalidades de la aplicación.</p>

      {% if not has_municipal_credentials %}
        <div class="alert alert-warning" role="alert">
          Aún no has ingresado tus credenciales de la municipalidad. Por favor, <a href="{% url 'municipal_credentials' %}" class="alert-link">ingrésalas aquí</a> para utilizar todas las funcionalidades.
        </div>
      {% endif %}

      {% if not has_misiones_credentials %}
        <div class="alert alert-danger" role="alert">
          Aún no has ingresado tus credenciales de Renta Misiones. Por favor, <a href="{% url 'misiones_credentials' %}" class="alert-link">ingrésalas aquí</a> para utilizar todas las funcionalidades.
        </div>
      {% endif %}

      <div class="list-group">
       <div class="d-grid gap-2 mb-4"> {# d-grid para botón de ancho completo, gap-2 para espacio, mb-4 para margen inferior #}
         <a href="{% url 'enter_billing' %}" class="btn btn-primary btn-lg">
           Ingresar Facturación Mensual
         </a>
       </div>
       <div class="d-grid gap-2 mb-4">
         <a href="{% url 'enter_misiones' %}" class="btn btn-success btn-lg">
           Ingresar Renta Misiones
         </a>
       </div>
       <a href="{% url 'history' %}" class="list-group-item list-group-item-action">
         Ver Historial de Ejecuciones
       </a>
       <a href="{% url 'misiones_history' %}" class="list-group-item list-group-item-action">
         Historial Renta Misiones
       </a>
       <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">
         Ver y Editar Perfil
       </a>
       <a href="{% url 'municipal_credentials' %}" class="list-group-item list-group-item-action">
         Gestionar Credenciales de la Municipalidad
       </a>
       <a href="{% url 'misiones_credentials' %}" class="list-group-item list-group-item-action">
         Gestionar Credenciales de Renta Misiones
       </a>
     </div>

    </div>
  </div>
{% endblock %}